amqp==1.4.8
anyjson==0.3.3
kombu==3.0.30
logging==0.4.9.6
proboscis==1.2.6.0
requests==2.9.0
nose==1.3.7
pexpect==3.3
on-http_api1_1>=1.0.0
on-http_api2_0>=1.0.0
on_http_redfish_1_0>=1.0.0
ansible==1.8.4
