[flake8]

max-line-length = 128

include = .
exclude = .venv

ignore =
    # E101 indentation contains mixed spaces and tabs
    E101,
    # E111 indentation is not a multiple of four
    E111,
    # E114 indentation is not a multiple of four (comment)
    E114,
    # E115 expected an indented block (comment)
    E115,
    # E116 unexpected indentation (comment)
    E116,
    # E121 continuation line under-indented for hanging indent
    E121,
    # E122 continuation line missing indentation or outdented
    E122,
    # E123 closing bracket does not match indentation of opening bracket's line
    E123,
    # E124 closing bracket does not match visual indentation
    E124,
    # E126 continuation line over-indented for hanging indent
    E126,
    # E127 continuation line over-indented for visual indent
    E127,
    # E128 continuation line under-indented for visual indent
    E128,
    # E131 continuation line unaligned for hanging indent
    E131,
    # E201 whitespace after '{'
    E201,
    # E202 whitespace before ']'
    E202,
    # E203 whitespace before ':'
    E203,
    # E211 whitespace before '['
    E211,
    # E221 multiple spaces before operator
    E221,
    # E222 multiple spaces after operator
    E222,
    # E225 missing whitespace around operator
    E225,
    # E226 missing whitespace around arithmetic operator
    E226,
    # E231 missing whitespace after ','
    E231,
    # E241 multiple spaces after ':'
    E241,
    # E251 unexpected spaces around keyword / parameter equals
    E251,
    # E261 at least two spaces before inline comment
    E261,
    # E262 inline comment should start with '# '
    E262,
    # E265 block comment should start with '# '
    E265,
    # E271 multiple spaces after keyword
    E271,
    # E272 multiple spaces before keyword
    E272,
    # E301 expected 1 blank line, found 0
    E301,
    # E302 expected 2 blank lines, found 1
    E302,
    # E303 too many blank lines (2)
    E303,
    # E304 blank lines found after function decorator
    E304,
    # E305 expected 2 blank lines after class or function definition, found 1
    E305,
    # E306 expected 1 blank line before a nested definition, found 0
    E306,
    # E401 multiple imports on one line
    E401,
    # E402 module level import not at top of file
    E402,
    # E501 line too long (130 > 128 characters)
    E501,
    # E502 the backslash is redundant between brackets
    E502,
    # E701 multiple statements on one line (colon)
    E701,
    # E703 statement ends with a semicolon
    E703,
    # E711 comparison to None should be 'if cond is None:'
    E711,
    # E712 comparison to False should be 'if cond is False:' or 'if not cond:'
    E712,
    # F401 'proboscis.asserts.assert_not_equal' imported but unused
    F401,
    # F403 'from config.api1_1_config import *' used; unable to detect undefined names
    F403,
    # F405 config may be undefined, or defined from star imports: config.amqp, config.api1_1_config
    F405,
    # F811 redefinition of unused 'TestSMPLoggingStdout_infra_data_error' from line 222
    F811,
    # F821 undefined name 'i_dont_exist'
    F821,
    # F841 local variable 'case_pathname' is assigned to but never used
    F841,
    # W191 indentation contains tabs
    W191,
    # W291 trailing whitespace
    W291,
    # W293 blank line contains whitespace
    W293,
    # W391 blank line at end of file
    W391,
    # W503 line break before binary operator
    W503,
    # W601 .has_key() is deprecated, use 'in'
    W601
