.vagrant
docker/files/mount
docker/tls
example/config/monorail_rack.cfg
example/bin/pxe*
*.vdi
*.iso
*.box
packer_cache
.bundle
.DS_Store

# # python giblets
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment / Unit test / coverage reports
.tox
.venv
.passwdc

.DS_Store
