[submodule "on-http"]
	path = on-http
	url = https://github.com/AlaricChan/on-http.git
[submodule "on-tftp"]
	path = on-tftp
	url = https://github.com/AlaricChan/on-tftp.git
[submodule "on-dhcp-proxy"]
	path = on-dhcp-proxy
	url = https://github.com/AlaricChan/on-dhcp-proxy.git
[submodule "on-taskgraph"]
	path = on-taskgraph
	url = https://github.com/AlaricChan/on-taskgraph.git
[submodule "on-statsd"]
	path = on-statsd
	url = https://github.com/AlaricChan/on-statsd.git
[submodule "on-syslog"]
	path = on-syslog
	url = https://github.com/AlaricChan/on-syslog.git
[submodule "on-core"]
	path = on-core
	url = https://github.com/AlaricChan/on-core.git
[submodule "on-tasks"]
	path = on-tasks
	url = https://github.com/AlaricChan/on-tasks.git
[submodule "on-imagebuilder"]
	path = on-imagebuilder
	url = https://github.com/RackHD/on-imagebuilder.git
[submodule "on-tools"]
	path = on-tools
	url = https://github.com/RackHD/on-tools
[submodule "on-wss"]
	path = on-wss
	url = https://github.com/RackHD/on-wss
