/* page layout styles */
*{
    margin:0;
    padding:0;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:70px;
    position:fixed;
    width:100%;
    z-index:100;
}
header h2{
    font-size:25px;
    font-weight:normal;
    color: white;
    left:40%;
    margin-left:-400px;
    padding:0 0;
    position:absolute;
    width:540px;
    position: fixed;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
div.tooltip-inner {
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 6px;
    font-size: 14px;
    max-width: 410px;
    width: 410px;
}
